body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

html {
    scroll-behavior: smooth;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

.intro-para{
    width: 30%;
    margin: auto;
}

a {
    color: #11999E;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.profile-img {
    width: 35%;
}

.web-designing-img {
    width: 35%;
    float: left;
    padding-right: 30px;
}

.web-dev-img {
    width: 35%;
    float: right;
    padding-left: 30px;
}



p {
    color: #40514E;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted #EAF6F6 6px;   
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.footer-link {
    text-decoration: none;
    padding: 3%;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #40514E;
}


.credits-name {
    color: #40514E;
    margin-top: 30px;
    font-size: 1rem;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.middle-container {
    margin: 100px 0;
}

.bottom-message{
    margin: 40px 0 60px 0;
}
#bottom-container {
    background-color: #E4F9F5;
    padding: 50px 0 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
  }

.marquee {
    background-color: #E4F9F5;
    height: 10%;
}

.design-credits{
    padding-left: 9%;
}